.absolute {
	position: initial;
}

.sticky {
	position: sticky;
	top: 0px;
	background-color: #ffffff;
	z-index: 2;
}

.no-show {
	display: none;
}

.show {
	display: -webkit-box;
}

.tablet-up {
	display: none;
}

.desktop-up {
	display: none;
}

.article-bio-noshow {
	display: inline-block;
}

.border-left {
	border-left: solid #d5d7d8 1px;
}

.float-right {
	float: right;
}

.border-utility-bar {
	border-bottom: solid #d5d7d8 1px;
}

.first {
	padding-top: 10px;
}

.last-one {
	display: none;
}

@media screen and (min-width: 768px) {
	.no-show {
		display: -webkit-box;
	}
	.show {
		display: none;
	}
	.tablet-up {
		display: -webkit-box;
	}
	.article-bio-noshow {
		display: none;
	}
	.last-one {
		display: inherit;
	}
}

@media only screen and (min-width: 1024px) {
	.desktop-up {
		display: inline-table;
	}
	.relative {
		position: relative;
	}
	.absolute {
		position: absolute;
		z-index: -1;
		right: -150px;
	}
	.border-utility-bar {
		border-bottom: none;
		border-left: solid #d5d7d8 1px;
	}
	.last-one {
		margin-bottom: 0px;
	}
}