.nav-to-subs {
    text-align: center;
}
.header-nav-to-subs {
    display: inline-block;
    font-weight: lighter;
    font-size: 12px;
    padding-top: 48px;
    padding-bottom: 8px;
    color: #787878;
}
.title-nav-to-subs {
    font-weight: bold;
    line-height: 1.25;
    margin: 0;
}
.dek-nav-to-subs {
    display: inline-block;
    font-size: 14px;
    font-weight: lighter;
    padding: 16px 0px;
}
.cta-nav-to-subs {
    font-size: 14px;
    font-weight: bold;
    padding: 48px 0px;   
}
.nav-to-subs p {
    text-align: center;
    margin: 0;
}
