    
.utility-bar {
	margin-top: 16px;
	display: flex;
	padding-bottom: 16px;
}

.icon-img {
	width: 17px;
	height: 17px;
}

.bar-item {
	margin: 8px;
	text-align: center;
}

.bar-item:hover {
	cursor: pointer;
}

.icon-name {
	font-size: 12px;
	color: #282828;
	font-weight: lighter;
	padding-top: 8px;
}

@media screen and (min-width: 768px) {
	.bar-item {
		margin-left: 12px;
		margin-right: 12px;
	}
}

@media only screen and (min-width: 1024px) {
	.utility-bar {
		display: block;
		padding-left: 24px;
		padding-bottom: 0px;
	}
	.bar-item {
		margin-top: 5px;
		margin-bottom: 24px;
		margin-left: 0px;
	}
}